@import url('./index.less');

#page3 {
  &:extend(.common);
  &:extend(.section-background);
  background-image: url('../images/backgrounds/3背景图.jpg');
  display: flex;
  justify-content: center;
  overflow: hidden;
  .page3-content {
    position: relative;
    width: 6.25rem;
    .chartor-name {
      position: absolute;
      left: 0;
      top: 20%;
      img:first-child {
        position: absolute;
        top: 15%;
        left: 0;
        transform: translateX(-35%);
        width: .520833rem;
        z-index: 1;
        cursor: pointer;
        &:hover {
          content: url(../images/icons/播放按钮2-亮.png);
        }
      }
      img:last-child {
        // width: .78125rem;
      }
    }
    .chartor-img {
      position: absolute;
      // width: 4.166667rem;
      height: 100%;
      object-fit: cover;
      bottom: 0;
    }
    .chartor-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      padding: 0 .104167rem;
      right: -0.15625rem;
      top: 48%;
      width: 2.604167rem;
      height: 2.916667rem;
      &:extend(.section-background);
      background-image: url('../images/backgrounds/角色背景线.png');
      transform: translateY(-50%);
      z-index: 1;
      >img {
        margin-bottom: .15625rem;
        width: 2.34375rem;
      }
      .chartor-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        img {
          width: calc(100% / 4);
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
}
