@import url('./index.less');

#page4 {
  &:extend(.common);
  &:extend(.section-background);
  background-image: url('../images/backgrounds/4背景图.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .swiper-activity {
    position: relative;
    width: 5.104167rem;
    height: 3.445833rem;
    > div {
      position: relative;
      height: inherit;
      overflow: hidden;
    }
    >span {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      width: .625rem;
      height: .625rem;
      &:extend(.section-background);
      cursor: pointer;
      z-index: 10;
    }
    .arrow_left {
      left: 0;
      transform: translateX(-80%);
      background-image: url(../images/icons/按钮left.png);
      &:hover {
        background-image: url(../images/icons/按钮left-亮.png);
      }
    }
    .arrow_right {
      right: 0;
      transform: translateX(80%);
      background-image: url(../images/icons/按钮right.png);
      &:hover {
        background-image: url(../images/icons/按钮right-亮.png);
      }
    }
    ul {
      // width: 20.833333rem;
      position: absolute;
      left: 0;
      top: 0;
      height: inherit;
      overflow: hidden;
      li {
        position: relative;
        box-sizing: border-box;
        width: 5.104167rem;
        height: inherit;
        float: left;
        &:extend(.section-background);
        >img {
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          z-index: 0;
          object-fit: cover;
        }
        .activity-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          z-index: 1;
          p {
            margin-top: .104167rem;
            font-size: .09375rem;
            color: rgb(85, 93, 126);
            text-align: center;
          }
          img {
            width: 98%;
            // height: 70%;
            object-fit: contain;
          }
        }
        // >div {
        //   position: relative;
        //   box-sizing: border-box;
        //   width: inherit;
        //   padding: .104167rem .15625rem .104167rem .078125rem;
        //   z-index: 0;
        // }
      }
    }
  }
}