.common,
#page4 {
  position: relative;
  width: 100%;
  height: 100vh;
}
.section-background,
#page4,
#page4 .swiper-activity > span,
#page4 .swiper-activity ul li {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#mark {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.253);
}
#page4 {
  background-image: url('../images/backgrounds/4背景图.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#page4 .swiper-activity {
  position: relative;
  width: 5.104167rem;
  height: 3.445833rem;
}
#page4 .swiper-activity > div {
  position: relative;
  height: inherit;
  overflow: hidden;
}
#page4 .swiper-activity > span {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 0.625rem;
  height: 0.625rem;
  cursor: pointer;
  z-index: 10;
}
#page4 .swiper-activity .arrow_left {
  left: 0;
  transform: translateX(-80%);
  background-image: url(../images/icons/按钮left.png);
}
#page4 .swiper-activity .arrow_left:hover {
  background-image: url(../images/icons/按钮left-亮.png);
}
#page4 .swiper-activity .arrow_right {
  right: 0;
  transform: translateX(80%);
  background-image: url(../images/icons/按钮right.png);
}
#page4 .swiper-activity .arrow_right:hover {
  background-image: url(../images/icons/按钮right-亮.png);
}
#page4 .swiper-activity ul {
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  overflow: hidden;
}
#page4 .swiper-activity ul li {
  position: relative;
  box-sizing: border-box;
  width: 5.104167rem;
  height: inherit;
  float: left;
}
#page4 .swiper-activity ul li > img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 0;
  object-fit: cover;
}
#page4 .swiper-activity ul li .activity-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 1;
}
#page4 .swiper-activity ul li .activity-item p {
  margin-top: 0.104167rem;
  font-size: 0.09375rem;
  color: #555d7e;
  text-align: center;
}
#page4 .swiper-activity ul li .activity-item img {
  width: 98%;
  object-fit: contain;
}
