@import url('./index.less');

#page5 {
  &:extend(.common);
  &:extend(.section-background);
  background-image: url('../images/backgrounds/5背景图.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  >img {
    width: 3.489583rem;
  }
  .swiper-characteristic {
    position: relative;
    width: 6.25rem;
    height: 3.125rem;
    >span {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      width: .625rem;
      height: .625rem;
      &:extend(.section-background);
      cursor: pointer;
      z-index: 10;
    }
    .arrow_left {
      left: 0;
      transform: translateX(-80%);
      background-image: url(../images/icons/按钮left.png);
      &:hover {
        background-image: url(../images/icons/按钮left-亮.png);
      }
    }
    .arrow_right {
      right: 0;
      transform: translateX(80%);
      background-image: url(../images/icons/按钮right.png);
      &:hover {
        background-image: url(../images/icons/按钮right-亮.png);
      }
    }
    >div {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      overflow: hidden;
      ul {
        display: flex;
        align-items: center;
        left: 0;
        top: 0;
        height: inherit;
        img {
          position: absolute;
          width: 4.166667rem;
        }
      }
    }
  }
  .swiper-circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    span {
      margin-right: .052083rem;
      width: .104167rem;
      height: .104167rem;
      &:extend(.section-background);
      background-image: url(../images/icons/轮播图点.png);
      cursor: pointer;
      &:hover {
        background-image: url(../images/icons/轮播图点-亮.png);
      }
    }
  }
  .channel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.041667rem;
    img {
      width: .833333rem;
      object-fit: cover;
      margin-right: .15625rem;
    }
  }
  .swiper-slide {
    transform: scale(0.7);
    filter: brightness(0.5);
    left: 10%;
    z-index: 0;
    transition: all .5s;
  }
  .swiper-slide-active {
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: all .5s;
  }
  .swiper-slide-pre {
    left: 0;
    z-index: 1;
  }
  .swiper-slide-next {
    left: 35%;
    right: 0;
    z-index: 1;
  }
}