$bg_color: #434756;


body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-row-center {
    display: flex;
    justify-content: center;
}
.flex-colum-center {
    display: flex;
    align-items: center;
}

.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-contain {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.p-left-center {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
