body {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

#main {
  position: relative;
  margin: 0 auto;
  max-width: 7.5rem;
  width: 100%;
  height: 100vh;
}

.bg-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.877);
}

.skill-pop .pop-content {
  padding-top: 0.3rem;
  height: 6.77rem;
  background-image: url("https://ressa-download.vsplay.com/eaysfj/tryNowGame/assets/images/skill_txt.png");
  animation: scale 0.5s;
}
.skill-pop .btn-skill {
  width: 2.17rem;
  height: 4.78rem;
  cursor: pointer;
}
.skill-pop .btn-skill:hover {
  transform: scale(1.1);
}
.skill-pop .btn-skill-gray {
  filter: grayscale(1);
}
.skill-pop .btn-skill1 {
  background-image: url("https://ressa-download.vsplay.com/eaysfj/tryNowGame/assets/images//btn_skill1.png?v=1.0");
}
.skill-pop .btn-skill2 {
  margin: 0 0.1rem;
  background-image: url("https://ressa-download.vsplay.com/eaysfj/tryNowGame/assets/images//btn_skill2.png?v=1.1");
}
.skill-pop .btn-skill3 {
  background-image: url("https://ressa-download.vsplay.com/eaysfj/tryNowGame/assets/images//btn_skill3.png");
}

.award-pop .pop-content {
  position: absolute;
  bottom: 0;
  width: 6.82rem;
  height: 11.94rem;
  background-image: url("https://ressa-download.vsplay.com/eaysfj/tryNowGame/assets/images/bg_award.png");
}
.award-pop .award-txt {
  margin-top: 0.5rem;
  margin-left: 4rem;
  color: #6c3927;
  font-weight: 600;
  font-size: 0.51rem;
  font-family: "Acumin Variable Concept";
}
.award-pop .code {
  background: linear-gradient(to bottom, red, #b12313);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  font-size: 0.5rem;
}
.award-pop .btn-reward {
  position: absolute;
  top: 4.7rem;
  left: calc(50% - 1.15rem);
  width: 3.07rem;
  height: 0.88rem;
  background-image: url("https://ressa-download.vsplay.com/eaysfj/tryNowGame/assets/images/btn_reward.png");
  cursor: pointer;
  animation: shake 0.2s infinite;
}

.options-pop {
  display: none;
  color: #fff;
  font-size: 0.2rem;
}
.options-pop .pop-content {
  overflow-y: auto;
  width: 80%;
  height: 80%;
}
.options-pop li {
  margin-bottom: 0.1rem;
}
.options-pop button {
  position: absolute;
  bottom: 0.2rem;
}

.btns {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  font-size: 0.3rem;
  transform: translate(-50%, -50%);
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes shake {
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  50%, 100% {
    transform: rotate(0);
  }
}